# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.local

# Node
# Node
node_modules/
rag-chat/node_modules/
rag-chat/.next/


# Next.js
.next/

# Logs
*.log

# OS
.DS_Store
Thumbs.db